.login-view {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
